.container{
    padding: 10px;
    background-color: rgb(175, 253, 172);
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 350px;
    margin-left: 500px;
}

.input{
    margin-top: 15px;
    margin-left: 10px;
}

.input label{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input input{
    padding: 7px;
    margin-left: 40px;
}

#description{
    height: 97px;
    margin-bottom: 15px;
    margin-left: 24px;
}

.addItem button{
    margin-top: 10px;
    width: 350px;
    padding: 6px;
    font-weight: 700;
    color: rgb(235, 241, 235);
    background-color: rgb(5, 5, 5);
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inventory h3{
    margin-left: 620px;
}

.table{
    justify-content: center;
    align-items: center;
    margin-left: 520px;
}

.table th{
    padding: 15px;
    text-align: center;
}

.table td{
    padding: 15px;
    text-align: center;
}